* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #0d2137;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
  height: auto;
}

.icone-logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

nav ul li.active,
nav ul li:hover {
  background: #163764;
  border-radius: 8px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #434ff0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

.nome {
  font-weight: bold;
}

.cargo {
  font-size: 0.85rem;
  opacity: 0.8;
}

.logout {
  margin-left: auto;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}

.content {
  flex: 1;
  background: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 90%;
  max-width: 900px;
  margin: 20px auto 10px auto;
  justify-content: space-between;
}

.pesquisa {
  margin: 20px 0 40px 0;
  position: relative;
  width: 100%;
  max-width: 900px;
}

.pesquisa input {
  width: 100%;
  padding: 18px 20px 18px 55px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.pesquisa img {
  position: absolute;
  margin: 15px;
  width: 22px;
}

.solicitacao {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.solicitacao-body {
  color: white;
  text-align: center;
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 15px;
}

.topo-solicitacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nome-espaco h2,
.detalhes-solicitacao h2 {
  color: #000;
}

.nome-espaco {
  width: 600px;
}

.nome-espaco h2 {
  font-size: 20px;
  color: #000;
  text-align: justify;
}

.erro {
  background-color: #ffe6e6;
  border-left: 6px solid #bd0c0c;
  width: 900px;
  padding: 30px 40px;
  border-radius: 10px;
  margin-top: 25px;
}

.erro h2 {
  color: #7a0000;
  font-size: 20px;
  font-weight: 600;
}

.solicitacao-card {
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  background: #ffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.status-solicitacao {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

  color: inherit;
}

.status-solicitacao h2 {
  font-size: 15px;
  margin: 0;
  text-align: center;
  color: inherit;
}

.status-solicitacao.Ativo {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.status-solicitacao.Inativo {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.detalhes-solicitacao {
  gap: 100px;
  padding: 20px;
  display: flex;
}

.detalhes-solicitacao h2 {
  margin-top: 20px;
  color: #000;
  font-size: 16px;
}

.ver-detalhes {
  background-color: #7ea9c9;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.ver-detalhes:hover {
  background-color: #5f8fb4;
}

.installation-item {
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  margin-bottom: 15px;
}

.item-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.status-dot.blue {
  background-color: var(--accent-blue);
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  flex-grow: 1;
}

.tag {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: var(--white);
}

.tag.em-uso {
  background-color: var(--accent-green);
}

.item-details {
  display: flex;
  gap: 30px;
  color: var(--gray-text);
  font-size: 14px;
}

.detail-block {
  display: flex;
  align-items: center;
}

.detail-block i {
  margin-right: 8px;
  font-size: 16px;
}

.pagination-dots {
  text-align: center;
  margin-top: 10px;
}

.pagination-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 4px;
  cursor: pointer;
}

.pagination-dots .dot.active {
  background-color: #122a40;
}

.conteudo-lateral {
  flex: 1;
}

/* Container da imagem */
.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.img-wrap {
  width: 120px;
  height: 90px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ver-detalhes {
  background-color: #7ea9c9;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.ver-detalhes:hover {
  background-color: #5f8fb4;
}
