body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #0d2137;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 120px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 15px 10px;
}

nav ul li:hover {
  background-color: #163764;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.logout {
  margin-left: auto;
  font-size: 0.9rem;
}

.titulo-principal {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
}

.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.quadra h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container-fotos {
  width: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.container-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.quadro-maior {
  grid-row: span 3;
}

.mostrar-fotos {
  width: 100%;
  display: flex;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mostrar-fotos:hover {
  background-color: #0056b3;
}

.descricao {
  margin-bottom: 30px;
  line-height: 1.5;
}

.descricao h3 {
  margin-top: 20px;
  font-size: 18px;
}

.box {
  margin: 0 auto;
  display: flex;
  width: 350px;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.reserva {
  background-color: #d9d9d9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.reserva h3 {
  margin-bottom: 15px;
}

.reserva label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.reserva input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reserva button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.reserva button:hover {
  background-color: #0056b3;
}
