* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background: #0d2137;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
  height: auto;
}

.icone-logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

nav ul li.active,
nav ul li:hover {
  background: #163764;
  border-radius: 8px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #434ff0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

.nome {
  font-weight: bold;
}

.cargo {
  font-size: 0.85rem;
  opacity: 0.8;
}

.logout {
  margin-left: auto;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;

  display: flex;
  justify-content: center;
}

.conteudo-central {
  max-width: 900px;
  width: 100%;
}

.container-fotos {
  width: 100%;
  max-width: 550px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 160px);
  gap: 10px;
}

.container-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.quadro-maior {
  grid-row: span 3;
}

.mostrar-fotos {
  width: 60%;
  margin-left: 20%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 30px;
}

.mostrar-fotos:hover {
  background-color: #0056b3;
}

.descricao {
  margin-bottom: 30px;
}

.descricao h3 {
  margin-top: 20px;
  font-size: 18px;
}

.box {
  margin: 0 auto;
  width: 350px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.reserva {
  padding: 40px;
  border-radius: 8px;
}

.reserva label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.reserva input {
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.reserva button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.reserva button:hover {
  background-color: #0056b3;
}
